@media (max-width: 600px) {
    body {
    font-family: Arial, Helvetica, sans-serif;
    }
}

@media screen {
    body {
    font-family: Arial, Helvetica, sans-serif;
    }
}


header {
    text-align: center;
    border: 1px solid lightslategray;
    background-color: lightslategray;
    color: white;
}

header h1 {
    font-size: 2em;
    width: 100%;
}

header ul {
    list-style-type: none;
    padding: 0;
    color: white;
}

header li {
    display: inline-block;
}

header a {
    text-decoration: none;
    color: white;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    border: 1px solid lightslategray;
    background-color: lightslategray;
    color: white;
}

.sub-title {
    font-style: italic;
    font-weight: bold;
    text-transform:capitalize;
}

.normal {
    text-decoration: none;
    font-style: normal;
    font-weight: lighter;
}